/* General Config */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Share Tech Mono", monospace;
  background-color: black;
  color: white;
}

/* Start Styling */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 50%;
  height: 60%;
  border: 3px solid blue;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  grid-template-areas:
    "display display display display display"
    "buttons buttons buttons buttons buttons"
    "buttons buttons buttons buttons buttons";
}

.display {
  border: 3px solid white;
  grid-area: display;
  padding: 0.5rem;
  display: grid;
  font-size: x-large;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.buttons {
  padding: 0.5rem;
  grid-area: buttons;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "operators numbers numbers numbers del"
    "operators numbers numbers numbers clear"
    "operators numbers numbers numbers equal"
    "operators numbers numbers numbers equal";
}

.buttons > .operators {
  grid-area: operators;
}

.buttons > .numbers {
  grid-area: numbers;
}

.buttons #add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#zero {
  grid-area: zero;
}

#dot {
  grid-area: dot;
  display: flex;
  justify-content: center;
  align-items: center;
}

#period {
  width: 0.25rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 50%;
}

#del {
  grid-area: del;
}

#clear {
  grid-area: clear;
}

#equal {
  grid-area: equal;
}

.operators {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  grid-template-areas:
    "add"
    "subtract"
    "divide"
    "multiply";
}
.operators button {
  color: yellow;
  background-color: transparent;
  border: 3px solid yellow;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "seven eight nine"
    "four five six"
    "one two three"
    "zero zero dot";
  gap: 0.5rem;
}

.numbers button {
  background-color: transparent;
  color: white;
  border: 3px solid white;
}

.controls {
  background-color: transparent;
  color: #880808;
  border: 3px solid #880808;
}

#equal {
  color: green;
  background-color: transparent;
  border: 3px solid green;
}
